body{
    background-image: linear-gradient( red , orange , yellow , green , blue , indigo , violet );
    text-align: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}
.link {
    font-size: 25px;
    font-style: italic;
    color: rgb(227, 4, 108);
    background: rgba(0, 0, 0, 0);
    width: 300px;
    margin-top: 16px;
}
.link:hover{
    font-size: 25px;
}

   
