body{
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}
.link {
    font-size: 20px;
    background: #000;;
    border-radius: 10px;
    width: 300px;
    margin-top: 15px;
}
.link:hover{
    font-size: 20px;
}